@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;

}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}